@model Customer
@section css
{
<link rel="stylesheet" href="\css\Menüs.css">
}
<section>

    <div class="frame">

        <div class="center">

            <div class="profile" >
                <div class="image" style="transform: scale(1.5);">
                    <div class="circle-1"></div>
                    <div class="circle-2"></div>
                    @if (Model.Gender)
                    {
                        <img src="~/img/asda.png" width="70" height="70" alt="Jessica Potter">
                    }
                    else
                    {
                        <img src="~/img/asdacas.png" width="70" height="70" alt="Jessica Potter">
                    }
                </div>

                <div class="name">@Model.FirstName @Model.LastName</div>
                <div class="job">15-06-2021</div>
                @if (Model.Diet.AnamnezForm.Id <= 0)
                {
                    <div class="actions">
                        <a href="~/diet/anamnezform/@Model.Diet.Id" class="btn">Anamnez Form</a>
                    </div>
                }
            </div>

            <div class="stats">
                <div class="box">
                    <span class="value">@Model.Diet.StartingWeight</span>
                    <span class="parameter">Başlangıç Kilo</span>
                </div>
                <div class="box">
                    <span class="value">@Model.Diet.Height</span>
                    <span class="parameter">Boyu</span>
                </div>
            </div>

            <div class="other">
                @if (Model.Diet.AnamnezForm.Id > 0)
                {
                    <div class="card-2">
                        <div class="Anamnez">
                            <div class="card text-center">
                                <div class="card-header">
                                    <ul class="nav nav-tabs card-header-tabs sek">
                                        <li class="nav-item" id="item1">
                                            <a class="nav-link text-danger">Asla Yiyemediklerim</a>
                                        </li>
                                        <li class="nav-item" id="item2">
                                            <a class="nav-link text-warning">Sağlık Sorunları</a>
                                        </li>
                                        <li class="nav-item" id="item3">
                                            <a class="nav-link disabled text-primary" >Ananmnez Form</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body" id="r1">
                                    <h5 class="card-title text-danger">Asla Yiyemediklerim</h5>
                                    <p class="card-text">@Model.Diet.AnamnezForm.Soru1
                                    </p>
                                </div>
                                <div class="card-body" id="r2">
                                    <h5 class="card-title  text-warning">Sağlık Sorunları</h5>
                                    <p class="card-text">
                                        @Model.Diet.AnamnezForm.Soru2
                                    </p>
                                </div>
                                <div class="card-body" id="r3">
                                    <h5 class="card-title text-primary" >Ananmnez Form Güncelle</h5>
                                    <a href="~/diet/anamnezform/@Model.Diet.Id" class="btn btn-primary mt-3">Form</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="week stats">
                    <h1>Haftalık Diyet</h1>
                    <div class="week-box">
                        @foreach (var item in Model.Diet.DietWekklies)
                        {
                            <a href="/Diet/DietWekklys/@item.Id">
                                <div class="box">
                                    <span class="value">@item.Name</span>
                                </div>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts
{
    <script src="/js/DietIndex.js"></script>
}