@model DietWekkly

@{
    Customer c = Model.Diet.Customer;
    
}

@section css{
<link rel="stylesheet" href="~/css/online.css">
<style>
    .aaaaa{
        position: relative;
        
    }
    #sssss{
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 15px;
        font-weight: 700;
        justify-content: space-between;
        top: -20px;
        right: 0px;
        left: 0px;
    }
    .make-flex-column-center{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>
}

<div class="content-wrapper" style="margin-top: 50px;">

    <!-- Main content -->
    <section class="content">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>@Model.Name Diyeti</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="~/admin/Home">Admin</a></li>
                        <li class="breadcrumb-item"><a href="~/admin/CustomerHome/@Model.Diet.Customer.Id">Müsteri</a></li>
                        <li class="breadcrumb-item "><a href="~/admin/CustomerDiet/?customerId=@Model.Diet.Customer.Id">Diyet</a></li>
                        <li class="breadcrumb-item text-danger">@Model.Name Diyeti</li>

                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <!-- Partial View -->
                    @await Html.PartialAsync("_AdminNavbar",c)
                    <!-- Partial View -->
                </div>
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="activity">
                                    <div class="row make-flex-row space-around">

                                        <div class="card  g-0 shadow  bg-body rounded" style="width:360px;">
                                            <div class="card-header text-center">
                                                <p class="h2">@Model.Name Diyeti</p>
                                                <hr>
                                            </div>
                                            <div class="card-body g-0">
                                                @if (Model.DietMenü != null)
                                                {
                                                    <div class="row make-flex-row center" style="min-height: 200px;">
                                                        <div class="col-4">
                                                            <a href="/diet/@Model.DietMenü.Path">
                                                                <img src="/img/Model1.png" class="card-img-top" alt="...">
                                                            </a>
                                                        </div>
                                                        <div class="col-8">
                                                            <p class="card-text text-center">
                                                                @Model.DietMenü.Content
                                                            </p>
                                                            <div class="row center">
                                                                <a href="~/admin/DietSendAndChange/@Model.Id"
                                                                class="btn btn-warning btn-sm col-5">Diyet Değiştir</a>
                                                            </div>


                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="row make-flex-row center" style="min-height: 200px;">

                                                        <div class="col-12 text-center">
                                                            <p class="h3">Diyet Gönderilmedi</p>
                                                            <a href="~/admin/DietSendAndChange/@Model.Id"
                                                            class="btn btn-warning col-6">Diyet Gönder</a>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="card  g-0 shadow  bg-body rounded" style="width:360px;">
                                            <div class="card-header text-center">
                                                <p class="h2">Randevu</p>
                                                <hr>
                                            </div>
                                            <div class="card-body g-0">
                                                <div class="row make-flex-column center" style="min-height: 200px;">

                                                    @if (Model.Calendar == null)
                                                    {
                                                        <p class="text-center h3">Randevu Verilmedi
                                                        </p>
                                                        <Form action="~/admin/MakeDate" method="POST">

                                                            <div class="form-group row mt-2">
                                                                <label for="DateTime"
                                                                class="col-sm-2 col-form-label">Tarih</label>
                                                                <div class="col-sm-10">
                                                                    <input type="datetime-local"  class="form-control"
                                                                    id="DateTime" name="TimeofDates" required>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mt-2">
                                                                <label for="Durations"
                                                                class="col-sm-2 col-form-label">Süre</label>
                                                                <div class="col-sm-10">
                                                                    <input type="number" step="10" min="10" name="durations"
                                                                    class="form-control" id="DateTime" value="10">
                                                                </div>
                                                            </div>
                                                            <input type="hidden" value="@Model.Diet.Customer.FirstName"
                                                            name="firstname">
                                                            <input type="hidden" name="customerId" value="@Model.Diet.Customer.Id">
                                                            <input type="hidden" value="@Model.Diet.Customer.LastName"
                                                            name="lastname">
                                                            <input type="hidden" name="dietWeekId" value="@Model.Id">
                                                            <div class="row center ">
                                                                <button class="btn btn-warning  mt-3 col-6"
                                                                type="submit">Randevu Ayarla</button>
                                                            </div>
                                                        </Form>

                                                    }
                                                    else
                                                    {
                                                        <p class="card-title text-center h1 p-3 text-white bg-dark">
                                                            @(Model.Calendar.CurrentDay+"/"+Model.Calendar.CurrentMounth+"/"+Model.Calendar.CurrentYear+" "+Model.Calendar.CurrentHour)</p>
                                                        <Form action="~/admin/UpdateDate" method="POST">

                                                            <div class="form-group row mt-2">
                                                                <label for="DateTime"
                                                                class="col-sm-2 col-form-label">Tarih</label>
                                                                <div class="col-sm-10">
                                                                    <input type="datetime-local" class="form-control"
                                                                    id="DateTime" name="TimeofDates" required>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mt-2">
                                                                <label for="Durations"
                                                                class="col-sm-2 col-form-label">Tarih</label>
                                                                <div class="col-sm-10">
                                                                    <input type="number" step="10" min="10" name="durations"
                                                                    class="form-control" id="DateTime" value="10">
                                                                </div>
                                                            </div>
                                                            <input type="hidden" value="@Model.Diet.Customer.FirstName"
                                                            name="firstname">
                                                            <input type="hidden" value="@Model.Diet.Customer.LastName"
                                                            name="lastname">
                                                            <input type="hidden" name="customerId" value="@Model.Diet.Customer.Id">
                                                            <input type="hidden" name="dietWeekId" value="@Model.Id">
                                                            <input type="hidden" name="DateId" value="@Model.Calendar.Id">
                                                            <div class="row center ">
                                                                <button class="btn btn-warning  mt-3 col-6"
                                                                type="submit">Randevu değiştir</button>

                                                            </div>
                                                        </Form>
                                                        <a href="~/admin/RemoveDateDiet?dietWeekId=@Model.Id&DateId=@Model.Calendar.Id&customerId=@Model.Diet.Customer.Id" class="btn btn-danger  mt-3 col-6">Randevu
                                                            Sil</a>
                                                    }
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills asd">
                                <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Genel
                                        Bilgilendirme</a></li>
                            </ul>
                        </div>
                          <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="activity">
                                    <form class="form-horizontal" method="POST" action="~/online/UpdateDietWeekly">
                                        <div class=" make-flex-column-center row">
                                            <label for="aas" class="col-12 col-form-label text-center mb-2"><h4 class="h3">Diet Uyumluluk</h4></label>
                                            <div class="aaaaa form-group col-md-8 mt-2">
                                                <div id="sssss">
                                                    <p style="color: #A90306;">1</p>
                                                    <p style="color:#D96704;">2</p>
                                                    <p style="color:#EFCF06" >3</p>
                                                    <p style="color:#5A9613">4</p>
                                                    <p style="color:#023600;">5</p>
                                                    </div>
                                                    <div class="row mt-3">
                                                        <input type="range" name="Dietuyumluluk" id="aas" value="@Model.Dietuyumluluk" min="1" max="5" step="1">
                                                    </div>
                                            </div>
                                        </div>
                                        <div class=" make-flex-column-center row">
                                            <label for="inputName" class="col-12 col-form-label text-center mb-2"><h4 class="h3">Ortalama Su Tüketimi</h4></label>
                                            <div class="aaaaa form-group col-md-8 mt-2">
                                                <div id="sssss">
                                                    <p style="color: #A90306;">0-1L</p>
                                                    <p style="color:#D96704;">1L-2L</p>
                                                    <p style="color:#EFCF06">2L-2.5L</p>
                                                    <p style="color:#5A9613">2.5L-3L</p>
                                                    <p style="color:#023600;">3L+</p>
                                                    </div>
                                                    <div class="row mt-3">
                                                        <input type="range" name="ortSu"  value="@Model.ortSu" id="aas" min="1" max="5" step="1">
                                                    </div>
                                            </div>
                                        </div>
                                        
                                        <div class=" make-flex-column-center row">
                                            <label for="inputName" class="col-12 col-form-label text-center mb-2"><h4 class="h3">Ortalama Adım Sayısı</h4></label>
                                            <div class="aaaaa form-group col-md-8 mt-2">
                                                <div id="sssss">
                                                    <p style="color: #A90306;">0-3000</p>
                                                    <p style="color:#D96704;">3000-5000</p>
                                                    <p style="color:#EFCF06">5000-7000</p>
                                                    <p style="color:#5A9613">7000-10000</p>
                                                    <p style="color:#023600;">10000 +</p>
                                                    </div>
                                                    <div class="row mt-3">
                                                        <input type="range" name="ortalamaAdim" value="@Model.ortalamaAdim" id="aas" min="1" max="5" step="1">
                                                    </div>
                                            </div>
                                        </div>
                                        <div class=" make-flex-column-center row">
                                            <label for="inputName" class="col-12 col-form-label text-center"><h4 class="h3">Güncel Kilo</h4></label>
                                            <div class="form-group col-md-5 col-lg-8 mt-2">
                                                <div class="col-sm-12">
                                                    <input type="number" class="form-control" name="GüncelKilo" value="@Model.GüncelKilo" id="inputName" step="0.1"
                                                            placeholder="Güncel Kilo">
                                                </div>
                                            </div>
                                        </div>
                                       
                                        <div class=" make-flex-column-center row">
                                            <label for="inputName" class="col-12 col-form-label text-center"><h4 class="h3">Güncel Bel</h4></label>
                                            <div class="form-group col-md-5 col-lg-8 mt-2">
                                                <div class="col-sm-12">
                                                    <input type="number" class="form-control"  name="GüncelBel" value="@Model.GüncelBel" id="inputName" step="0.01"
                                                            placeholder="Güncel Bel">
                                                </div>
                                            </div>
                                        </div>

                                        <div class=" make-flex-column-center row">
                                            <label for="inputName" class="col-12 col-form-label text-center"><h4 class="h3">Güncel Göğüs</h4></label>
                                            <div class="form-group col-md-5 col-lg-8 mt-2">
                                                <div class="col-sm-12">
                                                    <input type="number" class="form-control" name="GüncelGögüs" value="@Model.GüncelGögüs" id="inputName" step="0.01"
                                                            placeholder="Güncel Göğüs">
                                                </div>
                                            </div>
                                        </div>

                                        <div class=" make-flex-column-center row">
                                            <label for="inputName" class="col-12 col-form-label text-center" ><h4 class="h3">Güncel Kalça</h4></label>
                                            <div class="form-group col-md-5 col-lg-8 mt-2">
                                                <div class="col-sm-12">
                                                    <input type="number" class="form-control" name="GüncelKalca"  value="@Model.GüncelKalca" id="inputName" step="0.01"
                                                            placeholder="Güncel Kalça">
                                                </div>
                                            </div>
                                        </div>

                                        <input type="hidden" value="@Model.DietId" name="DietId">
                                        <input type="hidden" value="@Model.Id" name="Id">
                                        <input type="hidden" value="@Model.Name" name="Name">
                                        @Html.HiddenFor(i=>i.GivedDate,Model.GivedDate)
                                        @Html.HiddenFor(i=>i.Active,Model.Active)
                                        <div class=" make-flex-column-center row">
                                                <button type="submit" class="col-3 mt-2 btn btn-dark">Kaydet</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section Scripts
{
<script src="~/js/online.js"></script>
}