@model DietWekkly

@{
    Customer c = Model.Diet.Customer;
}

@section css{
<link rel="stylesheet" href="~/css/online.css">
}

<div class="content-wrapper" style="margin-top: 50px;">

    <!-- Main content -->
    <section class="content">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1> Diyet</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="~/Online/Home">AnaSayfa</a></li>
                            <li class="breadcrumb-item active"><a href="~/Online/DietIndex">Diyet</a></li>
                            <li class="breadcrumb-item active text-danger">Haftalık Diyet</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <!-- Partial View -->
                    @await Html.PartialAsync("_AdminNavbar",c)
                    <!-- Partial View -->
                </div>
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="activity">
                                    <div class="row make-flex-row space-around">

                                        <div class="card  g-0 shadow  bg-body rounded" style="width:360px;">
                                            <div class="card-header text-center">
                                                <p class="h2">@Model.Name Diyeti</p>
                                                <hr>
                                            </div>
                                            <div class="card-body g-0">
                                                @if (Model.DietMenü != null)
                                                {
                                                    <div class="row make-flex-row center" style="min-height: 200px;">
                                                        <div class="col-4">
                                                            <a href="/diet/@Model.DietMenü.Path">
                                                                <img src="/img/Model1.png" class="card-img-top" alt="...">
                                                            </a>
                                                        </div>
                                                        <div class="col-8">
                                                            <p class="card-text text-center">
                                                                @Model.DietMenü.Content
                                                            </p>
                                                            <div class="row center">
                                                                <a href="~/admin/DietSendAndChange/@Model.Id"
                                                                class="btn btn-warning btn-sm col-5">Diyet Değiştir</a>
                                                            </div>


                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="row make-flex-row center" style="min-height: 200px;">

                                                        <div class="col-12 text-center">
                                                            <p class="h3">Diyet Gönderilmedi</p>
                                                            <a href="~/admin/DietSendAndChange/@Model.Id"
                                                            class="btn btn-warning col-6">Diyet Gönder</a>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="card  g-0 shadow  bg-body rounded" style="width:360px;">
                                            <div class="card-header text-center">
                                                <p class="h2">Randevu</p>
                                                <hr>
                                            </div>
                                            <div class="card-body g-0">
                                                <div class="row make-flex-column center" style="min-height: 200px;">

                                                    @if (Model.Calendar == null)
                                                    {
                                                        <p class="text-center h3">Randevu Verilmedi
                                                        </p>
                                                        <Form action="~/admin/MakeDate" method="POST">

                                                            <div class="form-group row mt-2">
                                                                <label for="DateTime"
                                                                class="col-sm-2 col-form-label">Tarih</label>
                                                                <div class="col-sm-10">
                                                                    <input type="datetime-local" step="10" class="form-control"
                                                                    id="DateTime" name="TimeofDates" required>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mt-2">
                                                                <label for="Durations"
                                                                class="col-sm-2 col-form-label">Süre</label>
                                                                <div class="col-sm-10">
                                                                    <input type="number" step="10" min="10" name="durations"
                                                                    class="form-control" id="DateTime" value="10">
                                                                </div>
                                                            </div>
                                                            <input type="hidden" value="@Model.Diet.Customer.FirstName"
                                                            name="firstname">
                                                            <input type="hidden" value="@Model.Diet.Customer.LastName"
                                                            name="lastname">
                                                            <input type="hidden" name="dietWeekId" value="@Model.Id">
                                                            <div class="row center ">
                                                                <button class="btn btn-warning  mt-3 col-6"
                                                                type="submit">Randevu Ayarla</button>
                                                            </div>
                                                        </Form>

                                                    }
                                                    else
                                                    {
                                                        <p class="card-title text-center h1 p-3 text-white bg-dark">
                                                            @(Model.Calendar.CurrentDay+"/"+Model.Calendar.CurrentMounth+"/"+Model.Calendar.CurrentYear+" "+Model.Calendar.CurrentHour)</p>
                                                        <Form action="~/admin/UpdateDate" method="POST">

                                                            <div class="form-group row mt-2">
                                                                <label for="DateTime"
                                                                class="col-sm-2 col-form-label">Tarih</label>
                                                                <div class="col-sm-10">
                                                                    <input type="datetime-local" class="form-control"
                                                                    id="DateTime" name="TimeofDates" required>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mt-2">
                                                                <label for="Durations"
                                                                class="col-sm-2 col-form-label">Tarih</label>
                                                                <div class="col-sm-10">
                                                                    <input type="number" step="10" min="10" name="durations"
                                                                    class="form-control" id="DateTime" value="10">
                                                                </div>
                                                            </div>
                                                            <input type="hidden" value="@Model.Diet.Customer.FirstName"
                                                            name="firstname">
                                                            <input type="hidden" value="@Model.Diet.Customer.LastName"
                                                            name="lastname">
                                                            <input type="hidden" name="dietWeekId" value="@Model.Id">
                                                            <input type="hidden" name="DateId" value="@Model.Calendar.Id">
                                                            <div class="row center ">
                                                                <button class="btn btn-warning  mt-3 col-6"
                                                                type="submit">Randevu değiştir</button>

                                                            </div>
                                                        </Form>
                                                        <a href="#" class="btn btn-danger  mt-3 col-6">Randevu
                                                            Sil</a>
                                                    }
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills asd">
                                <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Genel
                                        Bilgilendirme</a></li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="activity">
                                    <form class="form-horizontal">
                                        <div>
                                            <input type="range" name="ass" min="1" max="10" step="1">
                                        </div>
                                        <div class="form-group row mt-2">
                                            <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                                            <div class="col-sm-10">
                                                <input type="email" class="form-control" id="inputName"
                                                    placeholder="Name">
                                            </div>
                                        </div>
                                        <div class="form-group row mt-2">
                                            <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                                            <div class="col-sm-10">
                                                <input type="email" class="form-control" id="inputEmail"
                                                    placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="form-group row mt-2">
                                            <label for="inputName2" class="col-sm-2 col-form-label">Name</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="inputName2"
                                                    placeholder="Name">
                                            </div>
                                        </div>
                                        <div class="form-group row mt-2">
                                            <label for="inputExperience"
                                                class="col-sm-2 col-form-label">Experience</label>
                                            <div class="col-sm-10">
                                                <textarea class="form-control" id="inputExperience"
                                                    placeholder="Experience"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row mt-2">
                                            <label for="inputSkills" class="col-sm-2 col-form-label">Skills</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="inputSkills"
                                                    placeholder="Skills">
                                            </div>
                                        </div>
                                        <div class="form-group row mt-2">
                                            <div class="offset-sm-2 col-sm-10">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> I agree to the <a href="#">terms and
                                                            conditions</a>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mt-2">
                                            <div class="offset-sm-2 col-sm-10">
                                                <button type="submit" class="btn btn-danger">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section Scripts
{
<script src="~/js/online.js"></script>
}