@model List<Week>
@section css
{
<link rel="stylesheet" href="~/css/callanderaa.css">
<style>
    .flexMake {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        width: 1580px;
        overflow-x: auto;
    }
    .MakeMargin {
        margin-top: 75px;
    }
    .make-flexis{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    i:hover{
        cursor: pointer;
    }
</style>
}
@{
    DateTime timer=DateTime.Now;
    if(ViewBag.times!=null)
    {
        timer=(DateTime)ViewBag.times;
    }
    DateTime left=timer.AddDays(-7);
    DateTime right=timer.AddDays(7);
}
<section class="schedule section" id="schedule">
    <div class="aaaaa" style="display: block;"> "</div>
    <div class="container MakeMargin">
        <div style="display: block;"> "</div>
        <div class="row">
            <div class="col-lg-12 col-12 text-center">
                <div class="make-flexis">
                    <form id="leftForm" action="~/online/Calendar" method="POST">
                        <input type="hidden" name="time" value="@left">
                        <i onclick="left()" id="aaaa" class="fas fa-arrow-circle-left" style="transform: scale(1.5); color: white;"></i>
                    </form>
                        <h2 class="text-white" data-aos="fade-up" data-aos-delay="200">Haftalık Randevu Takvimi</h2>
                    <form id="rightForm"  action="~/online/Calendar" method="POST">
                        <input type="hidden" name="time" value="@right">
                        <i onclick="right()" class="fas fa-arrow-circle-right" style="transform: scale(1.5); color: white;"></i>
                    </form>
               </div>
            </div>
            <div class="row flexMake" >
                @foreach (var item in Model)
                {
                    <div class="col " style="width: 150px; margin:0!important;">


                        <table class="table table-bordered schedule-table" style="margin:0!important;" data-aos="fade-up" data-aos-delay="300">

                            <thead class="thead-light">
                                @if (item.DayOfWeek == 1)
                                {
                                    <th><i class="fa fa-calendar"></i></th>
                                }
                                <th>
                                    <strong>@item.DayName</strong>
                                    <span>@item.CurrentLocalTime</span>
                                </th>

                            </thead>

                            <tbody>
                                @if(User.IsInRole("Admin"))
                                {
                                        @foreach (var c in item.AllDateInDay)
                                    {
                                        <tr>
                                            @if (item.DayOfWeek == 1)
                                            {
                                                <td style="background: var(--primary-color); border: 1px solid #212122; color: var(--white-color);"></td>
                                            }
                                            @if(c.Traning==TraningType.Diet)
                                            {
                                                 <td class="bg-warning">
                                                    <a href="~/Admin/CustomerWeek/@c.DietWekklyId">
                                                        @if(c.FirstName!=null&&c.LastName!=null)
                                                        {
                                                            <strong class="text-dark" style="font-size: 12px;">@c.FirstName @c.LastName</strong>
                                                        }
                                                        <span style="color: #06111C; font-size: 12px;">@c.CurrentHour.Substring(0,5)</span>
                                                    </a>
                                                 </td>
                                            }
                                            else{
                                                 <td class="bg-primary">
                                                    <a href="~/Admin/CustomerPilatesWeek/@c.PilatesWeekId">
                                                        @if(c.FirstName!=null&&c.LastName!=null)
                                                        {
                                                            <strong class="text-dark" style="font-size: 12px;">@c.FirstName @c.LastName</strong>
                                                        }
                                                        <span style="color: #06111C; font-size: 12px;">@c.CurrentHour.Substring(0,5)</span>
                                                    </a>
                                                 </td>
                                            }

                                        </tr>
                                    }
                                }
                                else{
                                     @foreach (var c in item.AllDateInDay)
                                    {
                                        <tr>
                                            @if (item.DayOfWeek == 1)
                                            {
                                                <td style="background: var(--primary-color); border: 1px solid #212122; color: var(--white-color);"></td>
                                            }
                                            <td>
                                                    @if(c.FirstName!=null&&c.LastName!=null)
                                                    {
                                                        <strong >@c.FirstName.Substring(0,2)*** @c.LastName.Substring(0,2)***</strong>
                                                    }
                                                    <span>@c.CurrentHour</span>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</section>


@section Scripts
{
<script src="/js/aos.js"></script>
<script src="/js/smoothscroll.js"></script>
<script src="/js/custom.js"></script>
<script>
    var leftForm=document.querySelector("#leftForm");
    var rightForm=document.querySelector("#rightForm");

    function left()
    {
        leftForm.submit();
    }

    function right()
    {
        rightForm.submit();
    }
</script>
}