@model Customer
@{
    string Mail = null;
    string tel = null;
    string Name = null;
    bool t1 = false;
    bool t2 = false;
    bool t3 = false;
    bool t4 = false;
    if (Model != null)
    {

        if (Model.Mail != null)
        {
            Mail = Model.Mail;
        }
        if (Model.PhoneNumber != null)
        {
            tel = Model.PhoneNumber;
        }
        if (Model.FirstName != null && Model.LastName != null)
        {
            Name = Model.FirstName + " " + Model.LastName;
        }
        if (ViewBag.AllRequest != null)
        {
            foreach (var item in (List<PackageRequest>)ViewBag.AllRequest)
            {
                if ((item.typeOfRequest) == PackageName.OnlineDiet)
                {
                    t1 = true;
                }
                if (item.typeOfRequest == PackageName.YüzyüzeDiet)
                {
                    t2 = true;
                }
                if (item.typeOfRequest == PackageName.OnlinePilates)
                {
                    t3 = true;
                }
                if (item.typeOfRequest == PackageName.YüzyüzePilates)
                {
                    t4 = true;
                }
            }
        }
    }

}
@section css
{
<link rel="stylesheet" href="/css/package.css">

<style>
    .allss {
        background-color: rgba(242, 242, 242, 1);
        padding: 50px;
    }

    .cardx {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .cardx-body {
        margin: 10px;
        min-width: 350px;
        max-width: 350px;
        height: 540px;
        border-radius: 16px;
    }

    .for-foto {
        border-radius: 16px 16px 0 0;
        width: 350px;
        height: 175px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../img/aa3.jpg);
        box-shadow: 1px 10px 10px 1px rgba(226, 226, 225, 0.8);

    }

    .cardx-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cardx-title h3 {
        background-color: rgba(25, 52, 65, 0.8);
        width: auto;
        padding: 10px;
        border-radius: 15px;
        box-shadow: 0px 1px 5px 2px rgba(25, 52, 65, 0.8);
    }

    .cardx-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 230px;
    }

    .make-row {
        margin-top: 3px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }

    .make-flex {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .make-center {
        justify-content: center;
        align-items: center;
    }

    .make-row p {
        font-size: 16px;
        letter-spacing: 0.5px;
        color: #D95100;
        margin-left: 5px;
        font-weight: 600;
    }

    .cardx-body {
        box-shadow: 0px 1px 15px 2px rgba(25, 52, 65, 0.8);

    }
</style>
}


<!-- HERO -->
<section class="hero d-flex flex-column justify-content-center align-items-center" id="home">

    <div class="bg-overlay"></div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto col-12">
                <div class="hero-text mt-5 text-center">
                    <h6 data-aos="fade-down" data-aos-delay="300">sağlıklı bir yaşam tarzı oluşturmanın yeni yolu!</h6>

                    <h1 class="text-white" data-aos="fade-down" data-aos-delay="500">Gelin Beraber Vücudumuzu Sağlığa
                        Kovuşturalım
                    </h1>

                    <a href="#feature" class="btn custom-btn mt-3" data-aos="fade-up" data-aos-delay="600">Hadi
                        Başlayalım</a>

                    <a href="#about" class="btn custom-btn bordered mt-3" data-aos="fade-up" data-aos-delay="700">Daha
                        Fazlası</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Online Diet-->
@if (Model != null)
{
    <div class="modal fade" id="sendRequest" tabindex="-1" role="dialog" aria-labelledby="membershipFormLabel"
    aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="membershipFormLabel">Online Diyet</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="membership-form webform" method="POST" action="~/online/DietPackage" role="form">
                        <input type="text" class="form-control" name="FullName" placeholder="Adınız" value="@Name" required>
                        <input type="email" class="form-control" name="email" value="@Mail" required>
                        <input type="tel" class="form-control" name="PhoneNumber" placeholder="500-000-0000" value="@tel"
                        pattern="[0-9]{10}" required>
                        <textarea class="form-control" rows="3" name="cf-message" placeholder="İçerik"></textarea>
                        <input type="hidden" name="RequestTime" value="@DateTime.Now">
                        <input type="hidden" value="@Model.Id" name="CustomerId">
                        <input type="hidden" value="@PackageName.OnlineDiet" name="typeOfRequest">
                        <button type="submit" class="form-control" id="submit-button" name="submit">İstek Gönder</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
<!-- Yüz yüze Diet-->

@if (Model != null)
{
    <div class="modal fade" id="sendRequest2" tabindex="-1" role="dialog" aria-labelledby="membershipFormLabel"
    aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="membershipFormLabel">Yüz Yüze Diyet</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="membership-form webform" method="POST" action="~/online/DietPackage" role="form">
                        <input type="text" class="form-control" name="FullName" placeholder="Adınız" value="@Name" required>
                        <input type="email" class="form-control" name="email" value="@Mail" required>
                        <input type="tel" class="form-control" name="PhoneNumber" placeholder="500-000-0000" value="@tel"
                        pattern="[0-9]{10}" required>
                        <textarea class="form-control" rows="3" name="cf-message" placeholder="İçerik"></textarea>
                        <input type="hidden" name="RequestTime" value="@DateTime.Now">
                        <input type="hidden" value="@Model.Id" name="CustomerId">
                        <input type="hidden" value="@PackageName.YüzyüzeDiet" name="typeOfRequest">
                        <button type="submit" class="form-control" id="submit-button" name="submit">İstek Gönder</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
<!-- Online Pilates-->

@if (Model != null)
{
    <div class="modal fade" id="sendRequest3" tabindex="-1" role="dialog" aria-labelledby="membershipFormLabel"
    aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="membershipFormLabel">Online Pilates</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="membership-form webform" method="POST" action="~/online/DietPackage" role="form">
                        <input type="text" class="form-control" name="FullName" placeholder="Adınız" value="@Name" required>
                        <input type="email" class="form-control" name="email" value="@Mail" required>
                        <input type="tel" class="form-control" name="PhoneNumber" placeholder="500-000-0000" value="@tel"
                        pattern="[0-9]{10}" required>
                        <textarea class="form-control" rows="3" name="cf-message" placeholder="İçerik"></textarea>
                        <input type="hidden" name="RequestTime" value="@DateTime.Now">
                        <input type="hidden" value="@Model.Id" name="CustomerId">
                        <input type="hidden" value="@PackageName.OnlinePilates" name="typeOfRequest">
                        <button type="submit" class="form-control" id="submit-button" name="submit">İstek Gönder</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
<!-- Yüz Yüze Pilates-->

@if (Model != null)
{
    <div class="modal fade" id="sendRequest4" tabindex="-1" role="dialog" aria-labelledby="membershipFormLabel"
    aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="membershipFormLabel">Yüz Yüze Pilates</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="membership-form webform" method="POST" action="~/online/DietPackage" role="form">
                        <input type="text" class="form-control" name="FullName" placeholder="Adınız" value="@Name" required>
                        <input type="email" class="form-control" name="email" value="@Mail" required>
                        <input type="tel" class="form-control" name="PhoneNumber" placeholder="500-000-0000" value="@tel"
                        pattern="[0-9]{10}" required>
                        <textarea class="form-control" rows="3" name="cf-message" placeholder="İçerik"></textarea>
                        <input type="hidden" name="RequestTime" value="@DateTime.Now">
                        <input type="hidden" value="@Model.Id" name="CustomerId">
                        <input type="hidden" value="@PackageName.YüzyüzePilates" name="typeOfRequest">
                        <button type="submit" class="form-control" id="submit-button" name="submit">İstek Gönder</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
<!-- Modal -->
<div class="modal fade" id="membershipForm" tabindex="-1" role="dialog" aria-labelledby="membershipFormLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="membershipFormLabel">İletişim Bilgileri</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="membership-form webform" role="form">
                    <input type="text" class="form-control" name="cf-name" placeholder="Adınız" required>

                    <input type="email" class="form-control" name="cf-email" placeholder="Email">

                    <input type="tel" class="form-control" name="cf-phone" placeholder="0555-555-5555"
                        pattern="[0-9]{11}" required>

                    <textarea class="form-control" rows="3" name="cf-message" placeholder="İçerik"></textarea>

                    <button type="submit" class="form-control" id="submit-button" name="submit">Mesaj
                        Gönder</button>
                </form>
            </div>

        </div>
        <div class="modal-content">
            <div class="modal-header text-center">
                <h2 class="modal-title" id="membershipFormLabel">Yada Hemen Üye Ol</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <a href="#" class="form-control btn btn-primary" id="submit-button">Giriş Yap</a>
                    </div>
                    <div class="col-6">
                        <a href="#" class="form-control btn btn-warning" id="submit-button">Üye Ol</a>

                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer"></div>
    </div>
</div>


<!-- ABOUT -->
<section class="" id="">
    <div class="container-fluid allss">
        <div class="row">

            <div class="col-md-6">
                <div class="for-diyet">
                    <div class="display-3 text-dark text-center">
                        <h2 style="font-weight: 900; font-size: 60px;">Diyet</h2>
                    </div>
                    <div class="cardx" style="margin-top: 50px;">
                        <div class=" cardx-body bg-white" data-aos="fade-down-right" data-aos-delay="500">
                            <div class="for-foto">
                            </div>
                            <div class="for-text mt-5 ">
                                <div class=" cardx-title">
                                    <h3 class="text-center text-white">Online Diyet</h3>
                                </div>
                                <div class="cardx-text ">
                                    <div class="make-row ">
                                        <i class="fas fa-check text-success"></i>
                                        <p>Whatsaptan ileteişim halinde kalınacak</p>
                                    </div>
                                    <div class="make-row ">
                                        <i class="fas fa-check text-success"></i>
                                        <p>Whatsaptan ileteişim halinde kalınacak</p>
                                    </div>
                                    <div class="make-row ">
                                        <i class="fas fa-check text-success"></i>
                                        <p>Whatsaptan ileteişim halinde kalınacak</p>
                                    </div>
                                    <div class="make-row ">
                                        <i class="fas fa-check text-success"></i>
                                        <p>Whatsaptan ileteişim halinde kalınacak</p>
                                    </div>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        if (t1)
                                        {
                                            <div class="make-flex make-center">
                                                <a href="#" class="btn custom-btn bg-color mt-3" data-aos="fade-up"
                                            data-aos-delay="300">Talebiniz Başrılı</a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="make-flex make-center ">
                                                <form action="#" method="POST">
                                                    <a href="#" class="btn custom-btn text-center bg-color mt-3"
                                                data-aos="fade-up" data-aos-delay="300" data-toggle="modal"
                                                data-target="#sendRequest">Ertelemeyin
                                                        Gelin Başlayalım</a>
                                                </form>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="make-flex make-center ">
                                            <a href="#" class="btn custom-btn bg-color mt-3" data-aos="fade-up"
                                            data-aos-delay="300" data-toggle="modal"
                                            data-target="#membershipForm">Ertelemeyin Gelin Başlayalım</a>
                                        </div>
                                    }
                                </div>

                            </div>
                        </div>

                        <div class=" cardx-body " data-aos="fade-down-left" data-aos-delay="500">
                            <div class="for-foto">
                            </div>
                            <div class="for-text mt-5 ">
                                <div class=" cardx-title">
                                    <h3 class="text-center text-white">Yüz Yüze Diyet</h3>
                                </div>
                                <div class="cardx-text ">
                                    <div class="make-row ">
                                        <i class="fas fa-check text-success"></i>
                                        <p>Whatsaptan ileteişim halinde kalınacak</p>
                                    </div>
                                    <div class="make-row ">
                                        <i class="fas fa-check text-success"></i>
                                        <p>Whatsaptan ileteişim halinde kalınacak</p>
                                    </div>
                                    <div class="make-row ">
                                        <i class="fas fa-check text-success"></i>
                                        <p>Whatsaptan ileteişim halinde kalınacak</p>
                                    </div>
                                    <div class="make-row ">
                                        <i class="fas fa-check text-success"></i>
                                        <p>Whatsaptan ileteişim halinde kalınacak</p>
                                    </div>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        if (t2)
                                        {
                                            <div class="make-flex make-center">
                                                <a href="#" class="btn custom-btn bg-color mt-3" data-aos="fade-up"
                                            data-aos-delay="300">Talebiniz Başrılı</a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="make-flex make-center ">
                                                <form action="#" method="POST">
                                                    <a href="#" class="btn custom-btn text-center bg-color mt-3"
                                                data-aos="fade-up" data-aos-delay="300" data-toggle="modal"
                                                data-target="#sendRequest2">Ertelemeyin
                                                        Gelin Başlayalım</a>
                                                </form>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="make-flex make-center ">
                                            <a href="#" class="btn custom-btn bg-color mt-3" data-aos="fade-up"
                                            data-aos-delay="300" data-toggle="modal"
                                            data-target="#membershipForm">Ertelemeyin Gelin Başlayalım</a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="for-diyet">
                    <div class="display-3 text-dark text-center">
                        <h2 style="font-weight: 900; font-size: 60px;">Pilates</h2>
                    </div>
                    <div class="cardx" style="margin-top: 50px;">
                        <div class=" cardx-body bg-white" data-aos="fade-down-right" data-aos-delay="500">
                            <div class="for-foto">
                            </div>
                            <div class="for-text mt-5 ">
                                <div class=" cardx-title">
                                    <h3 class="text-center text-white">Online Diyet</h3>
                                </div>
                                <div class="cardx-text ">
                                    <div class="make-row ">
                                        <i class="fas fa-check text-success"></i>
                                        <p>Whatsaptan ileteişim halinde kalınacak</p>
                                    </div>
                                    <div class="make-row ">
                                        <i class="fas fa-check text-success"></i>
                                        <p>Whatsaptan ileteişim halinde kalınacak</p>
                                    </div>
                                    <div class="make-row ">
                                        <i class="fas fa-check text-success"></i>
                                        <p>Whatsaptan ileteişim halinde kalınacak</p>
                                    </div>
                                    <div class="make-row ">
                                        <i class="fas fa-check text-success"></i>
                                        <p>Whatsaptan ileteişim halinde kalınacak</p>
                                    </div>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        if (t3)
                                        {
                                            <div class="make-flex make-center">
                                                <a href="#" class="btn custom-btn bg-color mt-3" data-aos="fade-up"
                                            data-aos-delay="300">Talebiniz Başrılı</a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="make-flex make-center">
                                                <form action="#" method="POST">
                                                    <a href="#" class="btn custom-btn bg-color mt-3" data-aos="fade-up"
                                                data-aos-delay="300" data-toggle="modal"
                                                data-target="#sendRequest3">Ertelemeyin
                                                        Gelin Başlayalım</a>
                                                </form>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="make-flex make-center">
                                            <a href="#" class="btn custom-btn bg-color mt-3" data-aos="fade-up"
                                            data-aos-delay="300" data-toggle="modal"
                                            data-target="#membershipForm">Ertelemeyin Gelin Başlayalım</a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                        <div class=" cardx-body " data-aos="fade-down-left" data-aos-delay="500">
                            <div class="for-foto">
                            </div>
                            <div class="for-text mt-5 ">
                                <div class=" cardx-title">
                                    <h3 class="text-center text-white">Online Diyet</h3>
                                </div>
                                <div class="cardx-text ">
                                    <div class="make-row ">
                                        <i class="fas fa-check text-success"></i>
                                        <p>Whatsaptan ileteişim halinde kalınacak</p>
                                    </div>
                                    <div class="make-row ">
                                        <i class="fas fa-check text-success"></i>
                                        <p>Whatsaptan ileteişim halinde kalınacak</p>
                                    </div>
                                    <div class="make-row ">
                                        <i class="fas fa-check text-success"></i>
                                        <p>Whatsaptan ileteişim halinde kalınacak</p>
                                    </div>
                                    <div class="make-row ">
                                        <i class="fas fa-check text-success"></i>
                                        <p>Whatsaptan ileteişim halinde kalınacak</p>
                                    </div>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        if (t4)
                                        {
                                            <div class="make-flex make-center">
                                                <a href="#" class="btn custom-btn bg-color mt-3" data-aos="fade-up"
                                            data-aos-delay="300">Talebiniz Başrılı</a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="make-flex make-center">
                                                <form action="#" method="POST">
                                                    <a href="#" class="btn custom-btn bg-color mt-3" data-aos="fade-up"
                                                data-aos-delay="300" data-toggle="modal"
                                                data-target="#sendRequest4">Ertelemeyin
                                                        Gelin Başlayalım</a>
                                                </form>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="make-flex make-center">
                                            <a href="#" class="btn custom-btn bg-color mt-3" data-aos="fade-up"
                                            data-aos-delay="300" data-toggle="modal"
                                            data-target="#membershipForm">Ertelemeyin Gelin Başlayalım</a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<!-- SCHEDULE -->


<!-- CONTACT -->
<section class="contact section" id="contact">
    <div class="container">
        <div class="row">

            <div class="ml-auto col-lg-5 col-md-6 col-12">
                <h2 class="mb-4 pb-2" data-aos="fade-up" data-aos-delay="200">Soru Sormak İçin Buradan
                    İletişime
                    Geçebilirsiniz</h2>

                <form action="#" method="post" class="contact-form webform" data-aos="fade-up" data-aos-delay="400"
                    role="form">
                    <input type="text" class="form-control" name="cf-name" placeholder="Name">

                    <input type="email" class="form-control" name="cf-email" placeholder="Email">

                    <textarea class="form-control" rows="5" name="cf-message" placeholder="Message"></textarea>

                    <button type="submit" class="form-control" id="submit-button" name="submit">Send
                        Message</button>
                </form>
            </div>

            <div class="mx-auto mt-4 mt-lg-0 mt-md-0 col-lg-5 col-md-6 col-12">
                <h2 class="mb-4" data-aos="fade-up" data-aos-delay="600">Biz Nerde Bulabilirsin ?</h2>

                <p data-aos="fade-up" data-aos-delay="800"><i class="fa fa-map-marker mr-1"></i> İstanbul
                    Kağıthane</p>

                <div class="google-map" data-aos="fade-up" data-aos-delay="900">
                    <iframe
                        src="https://maps.google.com/maps?q=Av.+Lúcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&t=&z=13&ie=UTF8&iwloc=&output=embed"
                        width="1920" height="250" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>

        </div>
    </div>
</section>




@section Scripts
{
<script src="/js/bootstrap.min.js"></script>
<script src="/js/aos.js"></script>
<script src="/js/smoothscroll.js"></script>
<script src="/js/custom.js"></script>
}